apiVersion: apps/v1
kind: Deployment
metadata:
  name: youtube-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: youtube-frontend
  template:
    metadata:
      labels:
        app: youtube-frontend
    spec:
      containers:
      - name: frontend
        image: REPLACE_ME_IMAGE_URL
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          limits:
            memory: "100Mi"
            cpu: "500m"
          requests:
            memory: "50Mi"
            cpu: "100m"
